# Binaries
cmake-build-*/
build/

# Testing
Testing/

# Jetbrains
.cache/
.idea/

#DS Store
.DS_Store

# vs
.vs/
.vscode/

# Secrets
.env

# Local development Postgres cluster
.pgdata/

# Local database dumps
.pgbackups/
